<div class="about_title"> About Treeage </div>
<br>

<div class="about_blurb">
  <p> Treeage Tree Service operates in the greater Chattanooga, TN area as a "triage" service for trees.
    <br>
    Joseph Sherman is the owner and operator. He is a master gardener,
    an alumnus of four years with the Southeast Conservation Corps,
    former sawyer for Tennessee State Parks, the U.S. Forest Service, and the U.S. Park Service, and holder of Federal Certifications
    in both chainsaw and crosscut saw safety and techniques. He has also spent good time with other local arborists, and has a B.A. from Berry College.

  <br> <br> Treeage is a "mini" tree service run exclusively by
    the owner, with occasional
    assistance by experienced assistants, and can therefore provide specialized services at the best price.
    Climbing, advanced rigging systems, and ground-felling are my common practices, and can suit most needs. For all other needs, I will call in local partners for an assist.
    <br> <br>
    This tree service should be considered as foremost among the competition for clients wanting
    professional insight on how keep their trees in good health. However, if you have a certain tree need you simply need done,
    your needs will met with expediency and
    professionalism. Services include but are not limited to removal, trimming, thinning, cabling, fertilization, various forms of pathogen amelioration, and stump grinding.

     </p>
  </div>
