<div class="about_title"> About Treeage </div>
<br>

<div class="about_blurb">
  <p> Treeage Tree Service operates in the greater Chattanooga, TN area as a "triage" service for trees.
    <br> <br>
    Joseph Sherman is the owner and operator. He is a master gardener,
    an alumnus of four years with the Southeast Conservation Corps,
    former sawyer for Tennessee State Parks, the U.S. Forest Service, and the National Park Service, and holder of Federal Certifications
    in both chainsaw safety and techniques. He also has has a B.A. from Berry College.

  <br> <br> Treeage is a "mini" tree service run with low overhead and high skill, and can therefore provide specialized services at the best price, <u>no matter</u> the size of the tree or task.
    Climbing, advanced rigging systems, and ground-felling are common practice, and can suit most needs.
    <br> <br>
    This tree service is a great option for clients wanting
    professional insight on how to keep their trees in good health. However, if you have a certain service you simply need done,
    your needs will be met with expediency and
    professionalism. Services include but are not limited to removal, trimming, thinning, cabling, fertilization, and various forms of pathogen amelioration.
     </p>
  </div>
