<div class="contact_text">
<a href="mailto: treeage.client.services@gmail.com" target="_blank" >Send Email to Treeage.Client.Services@gmail.com</a>
</div>
<br>
<div class ="contact_text">
  <a href="https://www.facebook.com/treeagetreeservice" target="_blank">Visit our Facebook for more info, including pictures and videos of past projects</a>
  </div>
