<div class="home-title">
  <img src= "/tree_logo_svg.svg">
</div>


<div class = "home_page_blurb">
  <p> Treeage is an arboreal triage service that serves the greater Chattanooga area. We are pleased to meet all your tree needs.</p>
  </div>
